.background {
  &-white {
    background: $white;
  }
  &-darken {
    background: $darken;
    &-opacity {
      background: $darkenOpacity;
    }
  }
}

.color {
  &-darken {
    color: $darken;
  }
  &-white {
    color: $white;
  }

  &-lighter {
    color: $lighter;
  }
  &-theme {
    color: $theme;
  }
  &-gray {
    color: $lightGray;
  }
}
