.resume {
  .logo-wrapper {
    @media screen and (max-width: $sm) {
      & {
        margin-bottom: 50px;
      }
    }
  }
  .accelerated-startup {
    padding-left: 250px;
    position: relative;
    &:after {
      content: "";
      background-image: url("./assets/visa.png");
      width: 210px;
      height: 100px;
      display: block;
      position: absolute;
      left: 0;
      top: -40px;
      background-repeat: no-repeat;
    }
    &:before {
      content: "";
      width: 100%;
      height: 5px;
      position: absolute;
      left: 0px;
      top: 4px;
      border-bottom: 2px dashed #d0d0d0;
      z-index: -2;
    }
  }
}

.compare {
  &-img {
    background-image: url("./assets/hairstylist.jpg");
    border-radius: 20px;
    height: 550px;
    background-position: top center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    &:after {
      content: "";
      background: #00000069;
      width: 100%;
      height: 100%;
      display: block;
      top: 0;
      position: absolute;
      left: 0;
    }
  }
}

.table-section {
  position: relative;
  .table-leave-to-top {
    position: relative;
    top: -280px;
    margin-bottom: -280px;
  }

  .table-wrapper {
    border-radius: 10px;
    border: 1px solid #e0e0e0;
  }

  .table-style {
    border: 1px solid $lighter;
    border-radius: 5px;
  }
}

.our-taxes {
  position: relative;
  overflow-x: hidden;
  &-prices {
    box-shadow: 3px 3px 16px #c7c7c7;
    border-radius: 5px;
  }
  &-button-wrapper {
    @media screen and (min-width: $sm) {
      & {
        justify-content: flex-end;
      }
    }
  }
}

.border-bottom {
  border-bottom: 1px solid $lighter;
}
.features-details {
  &-image {
    width: 100%;
    height: 280px;
    background-image: url("assets/schedule.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    @media screen and (min-width: $sm) {
      & {
        height: 100%;
      }
    }
  }
  &-icon {
    position: relative;
    padding-left: 75px;
    &:before {
      position: absolute;
      left: 0;
      content: "";
      width: 40px;
      height: 100%;
      background-image: url(assets/icons/calendar.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}

.social-media {
  li {
    display: inline-block;
    a {
      width: 36px;
      height: 36px;
      border-radius: 5px;
      border: 2px solid #ed1c6a;
      color: #ed1c6a;
      line-height: 33px;
      font-size: 20px;
    }
  }
}
