$container: 2000px;
$xs: 320px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

$max-xs: $xs - 1px;
$max-sm: $sm - 1px;
$max-md: $md - 1px;
$max-lg: $lg - 1px;

$theme: #3481b3;
$themeDarken: darken($theme, 10%);
$lightGray: #6d7783;
$lighter: #e4e4f0;
$darken: #404040;
$darkenOpacity: #40404054;
$white: #fff;
$silver: #e3e3e3;
