.color_theme {
	color: color_theme;
}

.gradient {
background: #2fb9ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24ddc8, #2fb9ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24ddc8, #2fb9ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}