.flex-row-end {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.flex-col-end {  
    height: 100%;
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-center-left {
    display: flex;
    align-items: center;
}