.footer {
	background: color_bg;
	&-title {
		color: color_theme;
		margin-bottom: 10px;
	}
	&-item {
		margin-bottom: 20px;
		a {
			color: color_p; 
			padding: 5px 0;
			display: block;
			left: 0;
			position: relative;
			transition: all 0.2s ease;
		}
		nav {
			li {
				&:hover {
					background: #ced2da;
					a {
						left: 10px;
					}
				}
			}
		}
	}
}
