.timeline {
	&-item {
		padding-left: 40px;
		padding-bottom: 20px;
		position: relative;
		&:before {
			pseudoElemnt(absolute, 3px, 100%);
			background: #676767;
			left: 0;
		}
		&:after {
			pseudoElemnt(absolute, 15px, 15px);
			background: #fff;
			left: -9px;
			top: 0;
			border-radius: 50%;
			border: 3px solid color_theme;
		}
		&:last-child {
			&:before {
				display: none;
			}
		}
	}
	&-date {
		color: #6f6f6f;
		font-weight: normal;
		font-size: 14px;
	}
	&-title {
		font-size: 1.3rem;
		font-weight: normal;
		text-transform: capitalize;
		color: #333;
	}
	p {
		margin-bottom: 0;
	}
	&-p {
		padding: 10px 0;
	}
}

/* Card */
.timeline {
	&-card {
		@media (min-width: sm) {
			.timeline-item:nth-child(2n+2) {
				.timeline-info {
					border-radius: 3px 0 0 0;
					&:before {
						pseudoElemnt(absolute, 0, 0);
					    left: auto;
					    right: -14px;
					    border-width: 15px 15px 0 0;
					    border-color: color_theme transparent transparent transparent;
					}
				}
			}
		}
		.timeline-item {
			&:after {
				border: 3px solid #d4d4d4;
			}
			&:before {
				background: #d4d4d4;
			}
		}
		.timeline-info {
			background: color_theme;
			padding: 5px 10px;
			position: relative;
			border-radius: 0 3px 0 0;
			&:before {
				pseudoElemnt(absolute, 0, 0);
			    left: -14px;
			    top: 0;
			    border-style: solid;
			    border-width: 0 15px 15px 0;
			    border-color: transparent color_theme transparent transparent;
			}
		}
		.timeline-title {
			color: #fff;
		}
		.timeline-date {
			margin-bottom: 0;
			color: #fff;
		}
		.timeline-p {
			padding: 15px 10px;
			border: 1px solid #e2e2e2;
			border-top: 0;
		}
	}

}


@media (min-width: sm) {
	.timeline {
		&-group {
			display: flex;
			flex-direction: column;
		}
		&-item {
			width: 50%;
		}
		&-item:nth-child(2n+1) {
			align-self: flex-end;
		}
		&-item:nth-child(2n+2) {
			padding-right: 40px;
			padding-left: 0;
			text-align: right;
			&:before {
				left: auto;
				right: -4px;
			}
			&:after {
				right: -13px;
				left: auto;
			}
		}
	}
}

/* Timeline with Pic */
.timeline-with-pic {
	.timeline-info {
	    background-position: center;
	    background-size: cover;
	    height: 200px;
	    position: relative;
		&.overlay {
			&:after {
				background: rgba(27, 27, 27, 0.15);
			}
		}
	    .timeline-title {
	    	color: #fff;
	    	position: absolute;
	    	bottom: 0;
	    	padding: 8px;
	    	z-index: 10;
	    	background: rgba(49, 49, 49, 0.84);
	    	width: 100%;
	    }
	    .timeline-date {
	    	padding: 8px; 
	    	color: #fff;
	    	font-weight: bold;
	    	background: color_theme;
	    	position: relative;
	    	display: inline-block;
	    	z-index: 10;
	    } 
	}

	@media (min-width: sm) {
		.timeline-item:nth-child(2n+2) {
			.timeline-title {
				right: 0;
				left: auto;
			}
		}
	}
}