color_theme =  #2fb9ff;
color_theme_dark = lightness(color_theme, 40%);
color_theme_light = lightness(color_theme, 60%);

:root {
	--color_one:  #227da1;
	--color_two: #ED4E3E;
	--color_three: #F2F6F7;
	--color_four: #34A3DB;
	--color_five: #1063C3;
	--bullets-default: #51b593;
	--bullets-white: #fff;
	
	--html-skills: 90;
	--css-skills: 90;
	--js-skills: 80;
	--jquery-skills: 90;
	--react-skills: 70;
	--redux-skills: 60;
	--angular-skills: 50;
	--seo-skills: 85;
	--git-skills: 90;
	--stylus-skills: 95;
	--wordpress-skills: 80;
	--php-skills: 60;
}

color_bg = #e8ebf1;
color_bg_dark = lightness(color_bg, 40%);
color_p = #3e3e3e;
  
font_size = 18px;
container = 1170px;

xs = 480px;
sm = 768px;
md = 992px;
lg = 1200px;

max_xs = xs - 1;
max_sm = sm - 1;
max_md = md - 1;
max_lg = lg - 1;


// Configuração das porcentagens
svg .html {
	stroke-dasharray: calc(251px * var(--html-skills) / 100);
}
 
svg .css {
	stroke-dasharray: calc(251px * var(--css-skills) / 100);
}

svg .js {
	stroke-dasharray: calc(251px * var(--js-skills) / 100);
}

svg .react {
	stroke-dasharray: calc(251px * var(--react-skills) / 100);
}

svg .jquery {
	stroke-dasharray: calc(251px * var(--jquery-skills) / 100);
}

svg .angular {
	stroke-dasharray: calc(251px * var(--angular-skills) / 100);
}

svg .seo {
	stroke-dasharray: calc(251px * var(--seo-skills) / 100);
}

svg .git {
	stroke-dasharray: calc(251px * var(--html-skills) / 100);
}

svg .stylus {
	stroke-dasharray: calc(251px * var(--html-skills) / 100);
}

svg .wordpress {
	stroke-dasharray: calc(251px * var(--wordpress-skills) / 100);
}

svg .php {
	stroke-dasharray: calc(251px * var(--php-skills) / 100);
}
