.grid {
	xs-grid(12);
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
	> div {
		width: 100%;
		padding: 0 15px;
	}
}

.no-pad {
	padding: 0 !important;
	margin: 0;
}

@media screen and (min-width: sm) {
	.grid {
		sm-grid(12);
	}

	.grid-b {
		display: flex;
	    flex-wrap: wrap;
		margin: 0 -15px;
	}

}

@media screen and (min-width: md) {
	.grid {
		md-grid(12);
	}
}

@media screen and (min-width: lg) {
	.grid {
		lg-grid(12);
	}
}
