
* {
	margin 0;
	padding 0
	box-sizing: border-box;
	font-style: normal;
	text-decoration: none;
	outline: none;
	list-style-type: none;
	font-synthesis: none;
  	text-rendering: optimizeLegibility;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	font-family: 'Cabin', sans-serif;
  
}


html, body {
	height: 100%;
	font-size: font_size;
}

img {
	max-width: 100%;
	width: auto;
	height: auto;
}

.auto-h {
	min-height: 100vh
/**/
	.down {
	    width: 45px;
	    position: absolute;
	    bottom: 0;
	    background: #fff;
	    color: #333;
	    border-radius: 25px 25px 0 0;
	    height: 25px;
	    font-size: 25px;
	    &.no-bg {
	    	background: none;
	    	color: #fff;
	    	height: 40px;
	    	width: auto;
	    }
	}
}

.container	{
	max-width: container;
	padding 15px;
	margin 0 auto
	height: 100%;
	position relative
}
.max-container {
	max-width: 530px;
}


.sub_title {
	max-width: 620px;
	margin: 0px auto 40px;
}

p {
	margin-bottom: 10px;
    font-size: 1rem;
    color: #5a5a5a;
}

.banner {
	padding: 50px 0;
	&_title {
		font-size: 34px;
		text-transform: uppercase;
		margin-bottom: 10px;
		color: color_p;
	}
	&_descr {
		color: color_p;
		font-size: 18px;
	}
}
